@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --font-sans: 'Inter', sans-serif;
}

*{
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}